@font-face {
    font-family: 'DinPro';
    src: url('./font/DINPro400.otf') format('opentype')
}

* {
    font-family: 'DinPro';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

button {
    text-shadow: 0 0 15px #a1e4fe;
    box-shadow: 0 0 15px 0px #a1e4fe;
    border: 3px solid #DFF7FF;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

#img-panasonic {
    position: fixed;
    top: 20px;
    right: 60px;
    width: 8%;
}

/* === INDEX === */
#body-index {
    background: url('./img/bg-index.png') no-repeat center center;
}

#body-index button {
    background-color: #00000000;
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
}

/* === REGRAS === */
#body-regras {
    background: url('./img/bg-main.jpg') no-repeat center center;
}

#body-regras #container-regras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#body-regras #container-regras div {
    width: 50%;
}

#body-regras #container-regras #box-lista ol {
    padding: 0 0 0 2rem;
    margin: 3rem 0;
}

#body-regras #container-regras #box-lista li {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

#body-regras #container-regras #box-lista button {
    background-color: #000;
}

#body-regras #container-regras #box-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-regras #container-regras #box-image img {
    height: 40rem;
}

/* === CADASTRO === */
#body-cadastro {
    background: url('./img/bg-main.jpg') no-repeat center center;
}

#body-cadastro #form {
    background-color: #000;
    border: 1px solid #484848;
    padding: 4rem 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body-cadastro #form p {
    margin-top: 2rem;
}

#body-cadastro #form input {
    margin: .2rem 0 2rem 0;
    height: 3rem;
    width: 80%;
    display: inline;
    padding: 1rem;
    font-size: 1.5rem;
    color: #000 !important;
    border-radius: 5px;
    border: none;
}

#body-cadastro #form button {
    background-color: #FFF;
    color: #000;
    border-radius: 2px solid #3f3f3f;
}

/* === JOGO === */
#body-jogo {
    background: url('./img/bg-main.jpg') no-repeat center center;
}

#body-jogo #tempo {
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: #000;
    border-radius: 10px;
    padding: .5rem 1.5rem
}


/* === GAME OVER === */
#body-gameover {
    background: url('./img/bg-main.jpg') no-repeat center center;
}

#body-gameover #container-gameover {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 0 7rem;
}

#body-gameover #container-gameover div {
    width: 50%;
}

#body-gameover #container-gameover #restart {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#body-gameover #container-gameover #restart p {
    font-size: 2rem;
}

#body-gameover #container-gameover #restart button {
    margin: 2rem 0;
    background-color: #00000000;
}

#body-gameover #container-gameover #ranking h1 {
    text-align: center;
    margin: 0 0 1.5rem 0;
}

#body-gameover #container-gameover table {
    border-radius: .2rem;
    width: 100%;
}

#body-gameover #container-gameover table tbody tr td {
    background-color: #FFF;

}

#body-gameover #container-gameover table td,
#body-gameover #container-gameover table th {
    color: #000 !important;
    padding: 0 0 0 .5rem;
}
